<div style="margin:20px;padding-left: 20px;">

  <p>
  </p>
  <div style="position:relative;top:600px;" class="atom-spinner"></div>

  <p>
  </p>
  <input type="text" id="input" placeholder="Enter your name" class="atom-input" />

  <p>
  </p>
  <input type="radio" name="rad" class="atom-radio" />
  <label for="rad" class="atom-radio-label">Name</label>

  <p>
  </p>
  <input type="checkbox" name="cbox" class="atom-checkbox" value="yy" />
  <label for="cbox=" class="atom-checkbox-label">Name</label>

  <p>
  </p>
  <i class="material-icons atom-lens">search</i>


  <p>
  </p>
  <select class="atom-select-one">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>

  <p>
  </p>
  <select class="atom-select-multiple" multiple>
    <option class="atom-option-multiple" value="1">1</option>
    <option class="atom-option-multiple" value="2">2</option>
    <option class="atom-option-multiple" value="3">3</option>
  </select>

  <molecule-search></molecule-search>

  <router-outlet></router-outlet>
