<div style="display:flex;flex-direction:column">
  <div searchMethod style="display:flex;direction:row;">
    <input class="atom-input" #searchInput placeholder="search..." />
    <i class="material-icons atom-search-lens" (click)="onLensClick($event)">search</i>
  </div>
  <div>
    <div *ngIf="this.moleculeSearchService.searchResults.length > 0" style="height:200px;overflow:scroll;border:1px solid navy;">
      <span *ngFor="let result of this.moleculeSearchService.searchResults" style="padding-left:0.5rem;cursor:pointer" (click)="onSampleSelected(result)">
        {{ result }}<br>
      </span>
    </div>
  </div>
</div>
